.container{
    max-width: 1200px !important;
}

.banner{
    background: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0c1a14;
}

.placeHolder_img {
	background-position: center;
    border-radius: 7px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.site-footer {
    background-color: #0c1a14;
    color: #efeee9;
    padding: 30px;
}
.site-info {
    margin: auto;
    padding: 30px;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
}

.site-info img {
    width: 140px;
    height: auto;
    filter: invert(1);
}
.footer-social {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.footer-social li {
    width: 20px;
    flex-grow: unset;
    margin: 20px 20px 0 20px;
}
.footer-column {
    flex-grow: 1;
}
.footer-column-last {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.1);
}


#mobileMenu{
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
}
#mobileMenu ul li {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    padding-left: 20px;

    font-style: normal;
    -webkit-overflow-scrolling: touch;
}

.slider {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
}

.slide-ana {
    height: 500px;
}

.slide-ana > div {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s;
}
@media (min-width: 300px) and (max-width: 884px) {
    .slider {
        height: 650px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .slider {
        height: 381px;
    }
}
@media (min-width: 1024px) and (max-width: 1280px) {
    .slider {
        height: 379px;
    }
}
