body {
    font-family: 'lmd-sans-regular';
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0!important;
}
.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: -106px;
    background: rgb(250,249,248);
    z-index: 30;
}
.site-header a {
    font-size: 12px;
    letter-spacing: 1px;
    color: #1d1e1f;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'lmd-sans-regular';
}
.header-social {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 165px;
    text-align: center;
    z-index: 20;
    cursor: pointer;
}
.site-branding{
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.site-branding a img {
    display: block;
    width: 140px;
    max-height: 100px;
    object-fit: contain;
    object-position: center;
}
.site-branding a {
    display: block;
    width: 140px;
}

.fab, .far {
    font-weight: 400;
}
.btn-open, .dir-toggle {
    display: none;
}

.search:not(body.search) {
    width: 130px;
    position: relative;
    bottom: -30px;
}

.search:not(body.search) {
    width: 130px;
    position: relative;
    bottom: -30px;
}
.search:not(body.search) span i {
    display: block;
    position: relative;
    border-bottom: 0;
    width: 80px;
    height: 19px;
    text-align: right;
    font-size: 12px;
    letter-spacing: 1px;
    color: #1d1e1f;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'lmd-sans-regular';
}

.main-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    padding: 3px 20px 17px;
    z-index: 10;
    align-items: center;
}
.menu-primary-container {
    width: 100%;
}

.menu-primary-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu .menu-primary-container ul {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 10;
    align-items: center;
}
.main-menu ul li {
    margin: 0 20px;
}

@media (max-width: 520px){
    .btn-open {
    display: block;
    position: fixed;
    right: 20px;
    top: 30px;
    border: 0;
    border-top: 2px solid #1d1e1f;
    border-bottom: 2px solid #1d1e1f;
    border-radius: 0;
    outline: none;
    background: none;
    width: 35px;
    height: 22px;
    cursor: pointer;
}
}

@media (max-width: 960px){
.header-social{
    display: none;
}
}