body {
    font-family: 'lmd-sans-regular';
    -webkit-font-smoothing: antialiased;
    margin: 0!important;
padding: 0!important;
}
.site-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: -106px;
    background: rgb(250,249,248);
    z-index: 30;
}
.site-header a {
    font-size: 12px;
    letter-spacing: 1px;
    color: #1d1e1f;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'lmd-sans-regular';
}
.header-social {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    right: 20px;
    top: 10px;
    width: 165px;
    text-align: center;
    z-index: 20;
    cursor: pointer;
}
.site-branding{
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
}
.site-branding a img {
    width: 140px;
    max-height: 100px;
    object-fit: contain;
    object-position: center;
}
.site-branding a {
    display: block;
    width: 140px;
}

.fab, .far {
    font-weight: 400;
}
.btn-open, .dir-toggle {
    display: none;
}

.search:not(body.search) {
    width: 130px;
    position: relative;
    bottom: -30px;
}

.search:not(body.search) {
    width: 130px;
    position: relative;
    bottom: -30px;
}
.search:not(body.search) span i {
    display: block;
    position: relative;
    border-bottom: 0;
    width: 80px;
    height: 19px;
    text-align: right;
    font-size: 12px;
    letter-spacing: 1px;
    color: #1d1e1f;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'lmd-sans-regular';
}

.main-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    padding-top: 3px;
    padding-bottom: 17px;
    z-index: 10;
    align-items: center;
    font-family: 'lmd-sans-regular';
    font-weight: 100;
    font-size: small;
}
.menu-primary-container {
    width: 100%;
}

.menu-primary-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu .menu-primary-container ul {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 10;
    align-items: center;
    cursor: pointer;
}
.main-menu ul li {
    margin: 0 20px;
    font-family: 'lmd-sans-regular';
    font-weight: 100;
}

main {
    display: block;
    width: 100%;
    margin: auto;
    padding: 0;
}

.dir-home--header {
    position: relative;
}

.dir-home--header .header-landscape {
    max-height: 75vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.dir-home--header .header-portrait {
    display: none;
}
.dir-home--links {
    color: rgb(250,249,248);
    padding: 30px;
    width: 50%;
    max-width: 700px;
    position: absolute;
    left: 60px;
    bottom: 15%;
}
.dir-home--links h2 {
    font-family: 'lmd-serif-regular';
}

.dir-home--links h4 {
    font-family: 'lmd-serif-regular' !important;
    margin: 10px 0 20px !important;
}

.search-choice .search-choice-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: inherit;
}
.search-choice .search-choice-inner div select, .search-choice .search-choice-inner.dir-home select {
    background: #efeee9;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 0;
    border-right: 10px solid #efeee9;
    padding: 10px 55px 10px 15px;
    font-size: 13px;
    font-family: 'lmd-sans-regular';
    max-width: 100%;
    width: 500px;
}


.advanced-filter-block {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: inherit;
}

.advanced-filter-block h2 {
    font-family: 'lmd-serif-italic';
    padding: 0 0 0 60px;
}

.advanced-filter-block h4 {
    font-family: 'lmd-serif-regular';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    margin: 0 0 20px 60px;
    padding: 0;
}

.archive-post {
    position: relative;
    padding: 35px 25px;
    width: 25%;
    z-index: 2;
}
.archive-post a {
    display: block;
    position: relative;
    outline: none;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'lmd-sans-regular';
    background: rgba(255,255,255,.8);
    border-top: 2px solid #dcc8c6;
}

.archive-post a :hover{
    background-color: #dcc8c6;
    background: transparent;
    opacity: 80%;
}
.archive-post img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    display: block;
}

.advanced-filter-block .block-title {
    position: absolute;
    bottom: 25px;
    max-width: 90%;
}
.archive-block {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: relative;
}
.advanced-filter-block .block-title { 
    position: absolute;
    bottom: 25px;
    max-width: 90%;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color: aliceblue;
}

.post-header.home-lead {
    flex-direction: row;
}

.post-header, .page-header {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
}

.post-header.home-lead .header-inner {
    width: 40%;
    margin-right: -100px;
    background: #fff;
    z-index: 20;
    padding: 40px 40px 60px;
}

.post-header.home-lead .header-images {
    padding: 0;
    position: relative;
    width: calc(60% + 100px);
    top: 20px;
}

.post-meta {
    margin-bottom: 8px;
}
.post-meta, .post-meta a {
    font-size: 14px;
    color: #000;
}
.post-header.home-lead a {
    text-decoration: none;
}
.home .post-header .header-inner .entry-meta, .hero-post-block .post-header .header-inner .entry-meta {
    position: absolute;
    bottom: 14px;
    right: 20px;
}
.page-header .header-inner .entry-meta {
    font-family: 'lmd-serif-italic';
    color: #000;
    font-size: 14px;
    margin-top: 10px;
}
.post-header .header-inner h1, .page-header .header-inner h1 {
    font-family: 'lmd-serif-regular';
    font-weight: normal;
    margin: 0;
    font-size: 56px;
    line-height: 1.1;
    color: #000;
}

.post-header.home-lead .header-images .land {
    position: relative;
    width: 100%;
    right: unset;
    bottom: unset;
    border: 0;
}

.post-header.home-lead .header-images .land img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    display: block;
}

.post-header.home-lead .header-images .port {
    height: 70vh;
    margin-bottom: -70px;
    z-index: 5;
    position: relative;
    display: none;
}
.show-posts-block {
    background: #fff;
    padding: 20px 0;
}

.section-header {
    width: 100%;
    max-width: 1800px;
    margin: 50px auto 10px;
    padding: 0 50px;
    position: relative;
    z-index: 5;
}

.archive-block .homepage {
    width: 100%;
    margin: 0px auto;
    align-items: center;
    position: relative;
}

.show-posts-block .archive-post {
    z-index: 2;
}
.archive-post a {
    display: block;
    position: relative;
}

element.style {
    color: #404040;
}
.archive-post h3, .single-post .site-main .show-posts-block h3, .single-post .site-main .show-posts-block-vertical h3 {
    font-family: 'lmd-serif-regular';
    margin: 0;
    padding: 5px;
    font-weight: normal;
    font-size: 26px;
    letter-spacing: 0.5px;
}
.archive-post h3 a {
    outline: none;
    color: #000;
    text-decoration: none;
    line-height: 1.3;
    padding-right: 30px;
    border-bottom: none;
}

.related-cat {
    font-family: 'lmd-sans-regular';
    color: #000000;
    display: block;
    position: relative;
    font-size: 14px;
    padding: 15px 10px;
    margin-top: -48px;
    text-transform: uppercase;
    text-decoration: none;
}


.archive-post h5, .single-post .site-main .show-posts-block .archive-post h5 {
    font-family: 'lmd-sans-regular';
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 0 5px;
    color: #aaa;
    font-size: 12px;
}


.home-showcase-inner {
    max-width: 1400px;
    display: flex;
    margin: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.home-showcase .post-thumbnail {
    width: 65%;
}


.home-showcase-text {
    width: calc(35% + 150px);
    margin-left: -180px;
    background: rgb(250,249,248);
    position: relative;
    padding: 40px 60px;
    bottom: -40px;
    z-index: 5;
}
.home-showcase-text h2, .single-post .site-main .home-showcase-text h2 {
    margin: auto;
    font-weight: normal;
    font-family: 'lmd-serif-italic';
    font-size: 32px;
    line-height: 1;
}

.home-showcase-text h3 a {
    text-decoration: none;
    color: inherit;
}

.home-showcase-text:after {
    content: "";
    position: absolute;
    top: -40px;
    left: 10px;
    width: 100%;
    height: 100%;
    background: #efeee9;
    z-index: -1;
}
.fw-image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 60px 0 0px;
}

.fw-image img {
    width: 100%;
    height: 88vh;
    object-position: center;
    object-fit: cover;
}

.fw-image a {
    display: block;
    width: 100%;
}
.fw-image .text-inner {
    background: rgba(250,249,248,0.85);
    max-width: 900px;
    padding: 10px 40px;
    margin: 10px 30px;
    position: absolute;
}
.text-inner h3 {
    margin: 10px 40px !important;
    
}
.fw-image h3 {
    font-family: 'lmd-serif';
    font-weight: normal;
    font-size: 30px;
    letter-spacing: 0.6px;
    text-align: center;
    line-height: 1.2;
    margin: 0 auto;
}


.site-footer {
    background: #2d2e2f;
    color: #efeee9;
    padding: 30px;
}
.site-info {
    margin: auto;
    padding: 30px;
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
}
.nav-block {
    padding: 20px 30px;
}
.site-info .nav-block img {
    width: 140px;
    height: auto;
    filter: invert(1);
}

.nav-block .footer-social {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.nav-block ul {
    list-style: none;
    font-size: 11px;
    line-height: 1.9;
    letter-spacing: 0.3px;
}

.nav-block .footer-social li {
    width: 20px;
    flex-grow: unset;
    margin: 20px 20px 0 20px;
}

.footer-column {
    flex-grow: 1;
}

.footer-column-last {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255,255,255,0.1);
}


#mobileMenu{
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

#mobileMenu ul li {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    padding-left: 20px;
    font-family: 'lmd-sans-regular';
    font-style: normal;
    -webkit-overflow-scrolling: touch;
}
@media (max-width: 960px){
    .main-menu, .featured-supplier .directory-footer-inner .dir-tile a:after, .featured-venue .directory-footer-inner .dir-tile a:after, .directory-footer-inner .dir-links ul a:before, .dir .cta .gform_legacy_markup_wrapper .gform_footer input[type="submit"]#gform_submit_button_6:before, .directory-footer-inner .dir-links ul a:after, .dir .cta .gform_legacy_markup_wrapper .gform_footer input[type="submit"]#gform_submit_button_6:after, .header-social, .search:not(body.search), .util{
    display: none;
}


.btn-open {
    display: block;
    position: fixed;
    right: 20px;
    top: 30px;
    border: 0;
    border-top: 2px solid #1d1e1f;
    border-bottom: 2px solid #1d1e1f;
    border-radius: 0;
    outline: none;
    background: none;
    width: 35px;
    height: 22px;
    cursor: pointer;
}
}





@media (max-width: 520px){


.dir-home--links {
    color: rgb(250,249,248);
    padding: 0 30px;
    width: auto;
    max-width: 100%;
    left: 0;
    top: 200px;;
    
}
.search-choice .search-choice-inner div select, .search-choice .search-choice-inner.dir-home select {
    width: 300px;
}
.dir-home--header .header-portrait {
    display: block;
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.dir-home--header .header-landscape {
    display: none;
}
.advanced-filter-block .archive-block {
width: 100%;
    padding: 0;
    margin: 10px auto 0;  
      width: 100%;
    flex-wrap: wrap;

}
.homepage{
width: 100%;
    padding: 0;
    margin: 10px auto 0;  
      width: 100%;
    flex-wrap: wrap;
}

.advanced-filter-block .archive-post img {
    height: 350px;
    padding: 0%;
    margin: 0%;
}
.archive-post {
    padding: 0 12px 15px;
    width: 50%;
}
.archive-post img{
max-height: 190px;
}

.post-header.home-lead {
    flex-direction: column-reverse;
}
.post-header.home-lead .header-inner {
    width: calc(100% - 40px);
    margin-right: 0;
    background: #fff;
    z-index: 20;
    padding: 20px 20px 60px;
}
.post-header.home-lead .header-images {
    padding: 0;
    position: relative;
    width: 100%;
    top: 20px;
}

.post-header .header-inner h1 {
    font-size: 40px;
}
.post-header.home-lead .header-images .land {
    position: relative;
    width: 100%;
    margin-left: 0;
    right: unset;
    bottom: unset;
    border: 0;
}

.post-header.home-lead .header-images .land img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    display: block;
}
.show-posts-block {
    padding: 20px 0;
}


.section-header {
    padding: 0 15px;
    position: relative;
    z-index: 5;
}

a.related-cat{
    display: none;
}
.home .archive-post h3 {
    font-family: 'lmd-serif-regular';
    margin: 0;
    padding: 5px 0 0 7px;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: 20px;
}
.home-showcase-inner {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.home-showcase .post-thumbnail {
    width: 100%;
}

.home-showcase-text {
    width: 89%;
    margin-left: 0;
    background: rgb(250,249,248);
    position: relative;
    padding: 10px 50px;
    bottom: 0;
    z-index: 5;
}
.fw-image img {
    height: 49vh;
}

.fw-image .text-inner {
    padding: 10px 20px;
    max-width: 90%;
    margin: 10px auto;
    position: absolute;
}

.fw-image .text-inner h3 {
    font-size: 25px;
    line-height: 1.1;
}

.advanced-filter-block h2 {
    font-family: 'lmd-serif-italic';
    padding: 0 0 0 10px;
}
.advanced-filter-block h4{
    margin: 0 0 10px 15px;
}


}